  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Shiva Taxi Services
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="service.html"> Services </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="news.html"> News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact Us</a>
                </li>                
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7 ">
            <div class="box">            
             
              <div id="carouselExampleIndicators" class="carousel slide">               
                <div class="carousel-inner">
                  <div class="carousel-item active">

                    <div class="img-box">
                      <img src="./assets/images/slider-img.png" alt="">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="img-box">
                      <img src="./assets/images/slider-img.png" alt="">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="img-box">
                      <img src="./assets/images/slider-img.png" alt="">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="img-box">
                      <img src="./assets/images/slider-img.png" alt="">
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="img-box">
                      <img src="./assets/images/slider-img.png" alt="">
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="btn-box">
                <a href="" class="btn-1">
                  Read More
                </a>
              </div> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-5 ">
            <div class="slider_form">
              <h4>
                Ride with Ease and Comfort
              </h4>
              <form action="">
                
                <div class="btm_input">
                  <p>
                    Embark on an unforgettable journey through the enchanting landscapes of Himachal Pradesh with our hassle-free car service! Discover the majestic mountains, pristine lakes, and charming villages at your own pace, as you drive through the scenic routes of Himachal.
                  </p>
                  <button>Contact Us</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
          <div class="detail-box">
            <h2>
              Himachal Preadesh <br>Tourism<br>
            </h2>
            <p>
              Himachal Pradesh is a land of enchanting beauty and cultural richness. Our experienced drivers, familiar with the winding mountain roads, ensure a safe and comfortable travel experience. Whether you're exploring the vibrant markets of Shimla, the spiritual ambiance of Dharamshala, or the serene beauty of Manali, our taxis are at your service. Immerse yourself in the charm of Himachal Pradesh, and let our reliable transportation be the gateway to your unforgettable adventure. Book your ride now and let the mountains beckon you!"
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="./assets/images/about-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our <br>
          Taxi Services
        </h2>
      </div>
      <div class="service_container">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/delivery-man.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Private Driver
            </h5>
            <p>
              Dedicated driver thoughout the travel
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/airplane.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Airport Transfer
            </h5>
            <p>
              Convenient Pick-up and Drop-off
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/backpack.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
             Tailor Your Itinerary
            </h5>
            <p>
              Transportation solutions tailored to your needs.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- news section -->

  <section class="news_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our <br>
          News
        </h2>
      </div>
      <div class="news_container">
        <div class="box">
          <div class="date-box">
            <h6>
              01 Nov 2019
            </h6>
          </div>
          <div class="img-box">
            <img src="./assets/images/news-img.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Eiusmod tempor incididunt
            </h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </p>
          </div>
        </div>
        <div class="box">
          <div class="date-box">
            <h6>
              01 Nov 2019
            </h6>
          </div>
          <div class="img-box">
            <img src="./assets/images/news-img.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Eiusmod tempor incididunt
            </h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </p>
          </div>
        </div>
        <div class="box">
          <div class="date-box">
            <h6>
              01 Nov 2019
            </h6>
          </div>
          <div class="img-box">
            <img src="./assets/images/news-img.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Eiusmod tempor incididunt
            </h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end news section -->

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          What <br>
          Client <br>
          Says
        </h2>
      </div>
      <div class="client_container">
        <div class="carousel-wrap">          
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <div class="box">
                <div class="img-box">
                  <img src="./assets/images/client-2.jpg" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    Aliqua
                  </h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et amet, consectetur adipiscing
                  </p>
                <img src="./assets/images/quote.png" alt="">
                </div>
              </div>
              
            </ng-template>  
            <ng-template carouselSlide>
              <div class="box">

              <div class="img-box">
                <img src="./assets/images/client-2.png" alt="">
              </div>
              <div class="detail-box">
                <h3>
                  Aliqua
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et amet, consectetur adipiscing
                </p>
                <img src="./assets/images/tourimg/img2.jpg" alt="">
              </div>
              </div>
            </ng-template>  
            <ng-template carouselSlide>
              <div class="box">

              <div class="img-box">
                <img src="./assets/images/client-3.png" alt="">
              </div>
              <div class="detail-box">
                <h3>
                  Aliqua
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et amet, consectetur adipiscing
                </p>
                <img src="./assets/images/quote.png" alt="">
              </div>
              </div>
            </ng-template>  
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- contact section -->

  <section class="contact_section layout_padding-bottom" id = "contact-us">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact Us<br>
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 offset-md-1">
          <div class="contact_form">
            <h4>
              Get In touch
            </h4>
            <form action="">
              
              <button>+91 9736785693</button>
              <button>+91 9736080371</button>
              <button>+91 8219834550</button>

            </form>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="./assets/images/contact-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- app section -->

  <section class="app_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              Download Our app
            </h2>
            <div class="text-box">
              <h5>
                details
              </h5>
              <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when distribution of letters
              </p>
            </div>
            <div class="text-box">
              <h5>
                How it works
              </h5>
              <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when distribution of letters
              </p>
            </div>
            <div class="btn-box">
              <a href="">
                <img src="./assets/images/playstore.png" alt="">
              </a>
              <a href="">
                <img src="./assets/images/appstore.png" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="./assets/images/mobile.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end app section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Why <br>
          Choose Us
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/delivery-man-white.png" alt="" class="img-1">
            <img src="./assets/images/delivery-man-black.png" alt="" class="img-2">
          </div>
          <div class="detail-box">
            <h5>
              Best Drivers
            </h5>
            <p>
              Our fleet of well-maintained vehicles and a team of skilled and courteous drivers are committed to ensuring your journey is not just a commute but a pleasant and stress-free experience. We understand the importance of punctuality, safety, and convenience, and we strive to exceed your expectations on every ride.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/shield-white.png" alt="" class="img-1">
            <img src="./assets/images/shield-black.png" alt="" class="img-2">
          </div>
          <div class="detail-box">
            <h5>
              Safe and Secure
            </h5>
            <p>
              Your safety is our top priority. Our drivers undergo rigorous training, and our vehicles are regularly inspected to ensure a secure and worry-free ride.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="./assets/images/repairing-service-white.png" alt="" class="img-1">
            <img src="./assets/images/repairing-service-black.png" alt="" class="img-2">
          </div>
          <div class="detail-box">
            <h5>
              24x7 support
            </h5>
            <p>
              Whether it's an early morning flight or a late-night event, Shiva Taxi Service is available round the clock to serve you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end why section -->

  <!-- info section -->

  <section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="box">       
      
        <div class="info_social">
          <div>
            <a href="">
              <img src="./assets/images/fb.png" alt="">
            </a>
          </div>         
          <div>
            <a href="">
              <img src="./assets/images/instagram.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <div class="container">
      <p>
       SHIVA TAXI SERVICES
      </p>
    </div>
  </section>
  <!-- footer section -->


